body{
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.view_main{
    margin-top:10px
}
.input_type{
    width:200px;
}
#file-selector,#file-selector2,#file-selector3,#img-selector,
#video-selector,#imgtext-selector,#select-selector,#selectL-selector,
#selectR-selector,#selectAllJ-selector,#selectImgJ-selector,#selectLt-selector,
#sideEdgeImg-upload,#img-selector,#img-display,#mimg-selector,#fileId,#select-selector-big,
#selectLt-selector-big,#pair-img{
    display: none;
}
.avatar-uploader{
    float: left;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.page_main{
    text-align:center;
}


.select-main{
    width: 200px;
    display:inline-block;
    position: relative;
}
.select-menu{
    width:198px;
    position: absolute;
    top: 45px;
    background:#fff;
    z-index:100;
    border: 1px solid #E4E7ED;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.select-menu li{
    height:40px;
    line-height:40px;
    padding-left:20px;
    padding-right: 10px;
    cursor: pointer;
    color:#606266;
    font-size: 14px;
}
.select-menu li:hover{
    background:#f5f7fa
}
.view_main2{
    overflow:inherit;
}
.self-select-menu li p{
    float: left;
}
.self-select-menu li span{
    float: right;
}
.padd-bottom{
    padding-bottom: 120px;
}

.box-css{
    padding: 20px;
    border-radius: 5px;
    background: #f9f9f9;
    margin-top: 40px;
    border: 1px solid #efefef;
}




.head_main{
    position: fixed;
    top: 0;
    z-index: 1000;
    background: skyblue;
    width: 100%;
    height: 60px;
    left: 0;
}
.blues{
    background:skyblue;
}
.input_type{
    width: 200px;
}
.textarea_type{
    width: 500px;
}
.pagebtn{
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border: 1px solid #d0d0d0;
    position: relative;
    background:#d8d8d8;
    font-size:25px;
    line-height: 150px;
}
.pageboxclick{
    background:#9cd7ef;
    color:#fff;
}
.page_menu{
    max-height:80%;
    overflow: auto;
}
.pagebtnBox{
    position: relative;
}
.delete_btn{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.add_btn{
    position: absolute;
    top: 13%;
    right: 0;
    cursor: pointer;
}
.icon_btn{
    width: 20px;
    height: 20px;
}
.addi-icon{
    width: 30px;
    height: 30px;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.view_main{
    overflow:hidden;
}
.type_title{
    float:left;
}
.head-title {
    line-height: 300%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
#leftMenu{
    text-align: center;
    width:200px;
    height:100%;
    background:#efefef;
    position: fixed;
    top: 60px;
}
.add_page{
    width:80%;
}
#testMedolBox{
    width: 150px;
    background: #ffffff;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 1000;
    cursor: pointer;
    border: 1px solid #999999;
}
#testMedolBox img{
    width: 100%;
}
#testMedolBox.big_size{
    animation:bigs 0.3s linear 0s forwards;
}
.select-css{
    margin-right: 10px;;
}
.avatar-uploader-icon{
    background: #ffffff;
}
@keyframes bigs{
    0%{width: 150px}
    100%{width: 350px}
}